.u-section-1 .u-sheet-1 {
  min-height: 1413px;
}

.u-section-1 .u-group-1 {
  width: 228px;
  min-height: 736px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 38px 13px 30px;
}

.u-section-1 .u-btn-1 {
  margin: 0 auto;
  padding: 9px 36px 11px;
}

.u-section-1 .u-btn-2 {
  margin: 20px 0 0;
  padding: 10px 43px 10px 42px;
}

.u-section-1 .u-btn-3 {
  margin: 20px auto 0;
  padding: 9px 70px 11px 68px;
}

.u-section-1 .u-group-2 {
  width: 912px;
  min-height: 677px;
  height: auto;
  background-image: none;
  margin: -736px 0 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 425px;
  margin-top: 0;
  width: 912px;
  margin-right: 0;
  margin-left: 0;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-2 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-3 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-4 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-5 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-6 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-7 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-8 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-9 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-10 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-11 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-12 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-13 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-14 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-15 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
}

.u-section-1 .u-container-layout-18 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-16 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
}

.u-section-1 .u-container-layout-19 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-17 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
}

.u-section-1 .u-container-layout-20 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-18 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-19 {
  background-image: none;
}

.u-section-1 .u-container-layout-21 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-19 {
  line-height: 1;
  margin: -31px 0 0;
}

.u-section-1 .u-list-item-20 {
  background-image: none;
}

.u-section-1 .u-container-layout-22 {
  padding: 31px 10px 9px;
}

.u-section-1 .u-text-20 {
  line-height: 1;
  margin: -31px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1665px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}