.u-section-1 .u-sheet-1 {
  min-height: 1354px;
}

.u-section-1 .u-group-1 {
  width: 228px;
  min-height: 677px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 38px 13px 30px;
}

.u-section-1 .u-btn-1 {
  margin: 0;
}

.u-section-1 .u-btn-2 {
  margin: 20px 0 0;
  padding: 10px 43px 10px 42px;
}

.u-section-1 .u-btn-3 {
  margin: 20px auto 0;
  padding: 9px 70px 11px 68px;
}

.u-section-1 .u-group-2 {
  width: 912px;
  min-height: 677px;
  height: auto;
  background-image: none;
  margin: -677px 0 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 502px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-1 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-2 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-3 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-4 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-5 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-6 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-7 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-8 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-9 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-10 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-11 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-12 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-13 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-14 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-15 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-16 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-17 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
}

.u-section-1 .u-container-layout-20 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-18 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-19 {
  background-image: none;
}

.u-section-1 .u-container-layout-21 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-19 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-20 {
  background-image: none;
}

.u-section-1 .u-container-layout-22 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-20 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-21 {
  background-image: none;
}

.u-section-1 .u-container-layout-23 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-21 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-22 {
  background-image: none;
}

.u-section-1 .u-container-layout-24 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-22 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-23 {
  background-image: none;
}

.u-section-1 .u-container-layout-25 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-23 {
  width: 135px;
  margin: 4px auto 0;
}

.u-section-1 .u-list-item-24 {
  background-image: none;
}

.u-section-1 .u-container-layout-26 {
  padding: 10px 10px 0;
}

.u-section-1 .u-text-24 {
  width: 135px;
  margin: 4px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 884px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}